@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --orange:hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.text, .thankyou-text{
    font-size: 15px;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
}
.container h1{
    margin: 10px ;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    text-align: start;
}

body{
    font-family:'Overpass', sans-serif;
    background-color:var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    text-align: center;
    height: calc(100vh - 0.1px);
    color: var(--white);
}

.container, .thankyou-state{
    
    background-color: var(--dark-blue);
    padding: 1.25rem 1.25rem 2rem;
    border-radius: 10px;
    height:345px;
    width: 290px;

  
}
.star{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: none;
   
     
    
}
.btn{
    background-color: rgb(62, 62, 88);
    border-radius: 50%;
    padding:10px;
    border: none;
    border-width: 80px;
    cursor: pointer;
    font-family: inherit;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: smaller;
    border-style: none;
    list-style: none;
    
    
}
.number >div{
    background-color: rgb(62, 62, 88);
    padding: 0.9rem;
    border-radius:50%;
    

}
.submit{
    margin-top: 30px;
    background-color: var(--orange);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    
}
.submit:hover{
    background-color: var(--white);
    color: var(--orange);
}

.thankyou-state{
    margin-top: 10px;
}

@media (min-width:500px){
    .container{
        max-width: 480px;
    }
}

.rating{
    margin: 20px;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(62, 62, 88);
    color: var(--orange);
    font-size: 15px;
    padding:5px;
}

.thankyou{
    font-size: 18px;
    margin-bottom: 10px;
}
.thankyou-text{
    margin-bottom: 20px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 90px;
}
    .attribution a {
         color: hsl(228, 45%, 44%); 
        }