@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --orange:hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.text, .thankyou-text{
    font-size: 15px;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
    color: var(--light-grey);
 
}
.container h1{
    margin: 10px ;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    text-align: start;
}

body{
    font-family:'Overpass', sans-serif;
    font-size: 15px;
    background-color:var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    text-align: center;
    min-height: 100vh;
    color: var(--white);
    margin: 1.5rem;
}
img{
    max-width: 100%;
}
.hidden{
    display: none;
}

.container,.thankyou-state{
    
    background-color: var(--dark-blue);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    max-width:400px;
}

.star{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: none;
    
}
.starred{
    background-color: rgb(62, 62, 88);
    border-radius: 50%;
    padding: 0.5rem;
}
.btn{
    background-color: rgb(62, 62, 88);
    border-radius: 50%;
    padding:10px;
    border: none;
    border-width: 80px;
    cursor: pointer;
    font-family: inherit;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: smaller;
    border-style: none;
    list-style: none;
    
    
}
  .container ul li button{
    background-color: rgb(62, 62, 88);
    padding: 0.2rem;
    border-radius:50%;
    width: 2.5rem;
    height:2.5rem ;
    cursor: pointer;
    transition: 0.3s;
    
}

.container ul li button:hover{
    background-color: var(--orange);
}
.container ul li button:focus{
    background-color: var(--medium-grey);
}
.submit, .rate-again{
    background-color: var(--orange);
    cursor: pointer;
    width: 100%;
    padding:0.625rem 2rem 0.5rem;
    border-radius: 30px;
    border: none;
    margin-top: 2rem;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing:0.1rem ;
    
}

    .submit:hover{
    background-color: var(--white);
    color: var(--orange);
}

.rate-again:hover{
    background-color: white;
    color: var(--orange)
}
.thankyou-state{
    margin-top: 10px;
}

.rate-again{
    font-size: smaller;
}


.rating{
    margin: 20px;
    border-radius: 30px;
    border-style: none;
    background-color:hsl(213, 20%, 23%);
    color: var(--orange);
    font-size: 15px;
    padding:0.2rem 0.5rem 0 ;
}

.thankyou{
    font-size: 18px;
    margin-bottom: 10px;
}
.thankyou-state img{
    display: block;
    margin: 0 auto 2rem;
}


.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 40px;
}
    .attribution a {
         color: hsl(228, 45%, 44%); 
        }

        